* {
	padding: 0;
	margin: 0;
}

html,
body {
	height: 100%;
}

body {
	min-height: 100vh;
	background-color: #fff;
}

.wrapper {
	max-width: 700px;
	padding: 0 150px;
	margin: 0 auto;
}

.wrapper_header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

header {
	padding: 124px 0;
	background-color: #EFF1F2;
	text-align: center;
}

header .logo {
	width: 340px;
	height: 340px;
	border-radius: 170px;
	background: url(img/profilephoto.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	margin: 0 auto 36px;
}

header h1 {
	font: 900 32px/36px Montserrat, sans-serif;
	color: #000;
	margin: 0 auto;
}

header p {
	margin: 8px auto 0;
	font: 14px/20px 'PT Mono', monospace;
	color: #000;
}

header a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-decoration: none;
	width: 280px;
	height: 52px;
	margin: 20px auto 0;
	font: 900 18px/24px Montserrat, sans-serif;
	background-color: #0059d9;
	border: 0px;
	border-radius: 4px;
	color: #fff;
}

header a:hover,
input[type=submit]:hover { 
	background-color: #000;
}

header a:active,
input[type=submit]:active { 
	background-color: #0059d9;
	opacity: .7;
}


main {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: auto minmax(600px, 1000px) auto;
	grid-template-columns: auto minmax(600px, 1000px) auto;
	    grid-template-areas: 
		'. expectations .'
		'portfolio portfolio portfolio';
}

.expectations {
	-ms-grid-row: 1;
	-ms-grid-column: 2;
	grid-area: expectations;
	background-color: #fff;
	padding: 100px 150px 115px;
}

.expectations__list {
	margin-top: 16px;
}

.expectations__item {
	border-top: 1px solid #D2D9E2;
}

footer h2,
.expectations h2 {
	font: 900 32px/36px Montserrat, sans-serif;
}

.expectations label {
	display: block;
	position: relative;
	font: 900 18px/24px Montserrat, sans-serif;
	color: #0059D9;
	cursor: pointer;
	padding: 14px 0;
}

.expectations label:hover {
	color: #000;
}

[type='checkbox'],
[type='radio'] {
	display: none;
}

.expectations label::before {
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	border: 0px solid #0059D9;
	right: 0;
    border-right-width: 2px;
    -webkit-transform: translateY(-4px) rotate(90deg);
        -ms-transform: translateY(-4px) rotate(90deg);
            transform: translateY(-4px) rotate(90deg);
    -webkit-transition: -webkit-transform 100ms ease-out;
    transition: -webkit-transform 100ms ease-out;
    -o-transition: transform 100ms ease-out;
    transition: transform 100ms ease-out;
    transition: transform 100ms ease-out, -webkit-transform 100ms ease-out;
}

.expectations label::after {
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	border: 0px solid #0059D9;
	right: 0;
    border-left-width: 2px;
    -webkit-transform: translate(8px, 4px);
        -ms-transform: translate(8px, 4px);
            transform: translate(8px, 4px);
    -webkit-transition: -webkit-transform 100ms ease-out;
    transition: -webkit-transform 100ms ease-out;
    -o-transition: transform 100ms ease-out;
    transition: transform 100ms ease-out;
    transition: transform 100ms ease-out, -webkit-transform 100ms ease-out;
}

.expectations label:hover::after,
.expectations label:hover::before   {
	border-color: #000;
}

.expectations__text {
	max-width: 520px;
	font: 14px/20px 'PT Mono', monospace;
	margin: 0;
	-webkit-transition: opacity 500ms ease-out;
	-o-transition: opacity 500ms ease-out;
	transition: opacity 500ms ease-out;
    opacity: 0; 
    height: 0;
    overflow: hidden;
}

#exp1:checked ~ [for='exp1'],
#exp2:checked ~ [for='exp2'],
#exp3:checked ~ [for='exp3'],
#exp4:checked ~ [for='exp4']{
	color: #000;
}

#exp1:checked ~ [for='exp1']::before,
#exp1:checked ~ [for='exp1']::after,
#exp2:checked ~ [for='exp2']::before,
#exp2:checked ~ [for='exp2']::after,
#exp3:checked ~ [for='exp3']::before,
#exp3:checked ~ [for='exp3']::after,
#exp4:checked ~ [for='exp4']::before,
#exp4:checked ~ [for='exp4']::after {
	opacity: 0;
}

#exp1:checked ~ [for='exp1']:hover::before,
#exp2:checked ~ [for='exp2']:hover::before,
#exp3:checked ~ [for='exp3']:hover::before,
#exp4:checked ~ [for='exp4']:hover::before {
	opacity: 1;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
    -webkit-transform-origin: top;
        -ms-transform-origin: top;
            transform-origin: top;
    border-color: #000;
}

#exp1:checked ~ [for='exp1']:hover::after,
#exp2:checked ~ [for='exp2']:hover::after,
#exp3:checked ~ [for='exp3']:hover::after,
#exp4:checked ~ [for='exp4']:hover::after {
	opacity: 1;
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
    -webkit-transform-origin: top;
        -ms-transform-origin: top;
            transform-origin: top;
    border-color: #000;
}

#exp1:checked ~ .expectations__text,
#exp2:checked ~ .expectations__text,
#exp3:checked ~ .expectations__text,
#exp4:checked ~ .expectations__text {
	opacity: 1;
    height: auto;
    margin-bottom: 20px;
}


.portfolio {
	-ms-grid-row: 2;
	-ms-grid-column: 1;
	-ms-grid-column-span: 3;
	grid-area: portfolio;
	background-color: #25282A;
	padding: 100px 0;
	text-align: center;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: auto minmax(600px, 1000px) auto;
	grid-template-columns: auto minmax(600px, 1000px) auto;
	    grid-template-areas: '. works .';
}

.wrapper_portfolio {
	-ms-grid-row: 1;
	-ms-grid-column: 2;
	grid-area: works;
}

.portfolio h2 {
	font: 900 32px/36px Montserrat, sans-serif;
	color: #fff;
	margin: 0 auto;
}

.portfolio p {
	font: 14px/20px 'PT Mono', monospace;
	margin: 44px auto 0;
	color: #FFFFFF;
}

.portfolio__works {
	text-align: center;
}

.portfolio__works section {
	margin-top: 80px;
}

.portfolio__works h3 {
	font: 900 18px/24px Montserrat, sans-serif;
	color: #fff;
}

.portfolio__works a {
	font: 14px/20px 'PT Mono', monospace;
	color: #71ABFF;
	text-decoration: none;
}

label[for^=work] {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
	width: 16px;
	height: 16px;
	text-align: center;
}

label[for^=work] span{
	display: block;
	width: 8px;
	height: 8px;
	border: 1px solid #71ABFF;
	border-radius: 8px;
	background-color: #71ABFF;
}

label[for^=work]:hover {
	cursor: pointer;
}

label[for^=work]:hover span{
	background-color: #fff;
	border-color: #fff;
}

#work1_1:checked ~ .gallery__info .gallery__controls label[for^=work1_1] span,
#work1_2:checked ~ .gallery__info .gallery__controls label[for^=work1_2] span,
#work1_3:checked ~ .gallery__info .gallery__controls label[for^=work1_3] span,
#work1_4:checked ~ .gallery__info .gallery__controls label[for^=work1_4] span,
#work2_1:checked ~ .gallery__info .gallery__controls label[for^=work2_1] span,
#work2_2:checked ~ .gallery__info .gallery__controls label[for^=work2_2] span,
#work2_3:checked ~ .gallery__info .gallery__controls label[for^=work2_3] span,
#work3_1:checked ~ .gallery__info .gallery__controls label[for^=work3_1] span,
#work3_2:checked ~ .gallery__info .gallery__controls label[for^=work3_2] span {
	background-color: transparent;
}

.gallery__info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    max-width: 700px;
    margin: 0 auto;
}

.gallery__controls {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

.gallery__pictures {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 700px;
	overflow: hidden;
}

.gallery__pictures img {
	width: 100%;
	max-width: 700px;
	min-width: 100%;
	height: 100%;
	-o-object-fit: contain;
	   object-fit: contain;
	border-radius: 8px;
	margin-top: 20px;
	-webkit-transition: -webkit-transform 200ms ease-out;
	transition: -webkit-transform 200ms ease-out;
	-o-transition: transform 200ms ease-out;
	transition: transform 200ms ease-out;
	transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
}

#work1_1:checked ~ .gallery__pictures img,
#work2_1:checked ~ .gallery__pictures img,
#work3_1:checked ~ .gallery__pictures img {
	-webkit-transform: translateX(0);
	    -ms-transform: translateX(0);
	        transform: translateX(0);
}

#work1_2:checked ~ .gallery__pictures img,
#work2_2:checked ~ .gallery__pictures img,
#work3_2:checked ~ .gallery__pictures img {
	-webkit-transform: translateX(-100%);
	    -ms-transform: translateX(-100%);
	        transform: translateX(-100%);
}

#work1_3:checked ~ .gallery__pictures img,
#work2_3:checked ~ .gallery__pictures img {
	-webkit-transform: translateX(-200%);
	    -ms-transform: translateX(-200%);
	        transform: translateX(-200%);
}

#work1_4:checked ~ .gallery__pictures img {
	-webkit-transform: translateX(-300%);
	    -ms-transform: translateX(-300%);
	        transform: translateX(-300%);
}

.gallery__description {
	display: inline-block;
	max-width: 520px;
	font: 14px/20px 'PT Sans', sans-serif;
	margin-top: 20px;
	color: #fff;
	text-align: left;
}

footer {
	padding: 100px 0;
	text-align: center;
	margin: 0 auto;
	background-color: #EFF1F2;
}

footer h2 {
	text-align: center;
	margin: 0 0 16px;
}

footer p {
	font: 14px/20px 'PT Mono', sans-serif;
	color: #000000;
	text-align: center;
	margin: 20px auto 0;
	max-width: 700px;
}

form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    max-width: 700px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 40px auto 0;
}

input[name=name],
input[name=email] {
	width: 340px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid rgba(31,64,111,0.20);
    border-radius: 4px;
    height: 36px;
    padding: 6px 0 10px 12px;
    font: 16px/20px 'PT Sans', sans-serif;
    color: #000;
}

textarea {
	width: 700px;
    margin-top: 20px;
    border: 1px solid rgba(31,64,111,0.20);
	border-radius: 4px;
	height: 136px;
	padding: 6px 0 0 12px;
	font: 16px/20px 'PT Sans', sans-serif;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	resize: none;
	color: #000;
}


[type=file]{
	display: none;
}

label[for=sendFile] {
	width: 700px;
	height: 36px;
	border: 1px solid rgba(31,64,111,0.20);
	border-radius: 4px;
	font: 16px/20px 'PT Sans', sans-serif;
	color: #0059D9;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

label[for=sendFile]:hover {
	cursor: pointer;
	color: #000;
}

[type=file]:valid + label[for=sendFile]{
	color: transparent;
}

[type=file]:valid + label[for=sendFile]:after{
	position: absolute;
	z-index: 10;
	content: 'Загрузить другой файл';
	color: #0059D9;
}

label[for=sendFile]:active {
	opacity: 0.7;
	color: #0059D9;
}

input[type=submit] {
	background: #0059D9;
	border: 0;
	border-radius: 4px;
	width: 700px;
	height: 52px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin-top: 20px;
	font: 900 18px/24px Montserrat, sans-serif;
	color: #fff;
}

form input:focus {
	border-color: #0059D9;
}

.social {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

.social__icon {
	width: 48px;
	height: 48px;
	border-radius: 48px;
}

.social__icon_fb {
	background-color: #395A99;
	background-image: url(img/fb.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
}

.social__icon_tw {
	background-color: #51ADEF;
	margin: 0 16px;
	background-image: url(img/twi.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;

}

.social__icon_tg {
	background-color: #2CA5E0;
	background-image: url(img/tg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
}

.social__icon_fb:hover {
	background-color: #2d487a;
}

.social__icon_tw:hover {
	background-color: #408abf;
}

.social__icon_tg:hover {
	background-color: #2384b3;
}

.social__icon_fb:active,
.social__icon_tw:active,
.social__icon_tg:active {
	opacity: .7;
}


@media (max-width: 600px) {
	.wrapper {
		padding: 0 40px;
	}

	header {
		padding: 165px 0;
	}

	header h1{
		font-size: 40px;
		line-height: 44px;
	}

	header .logo {
		width: 250px;
		height: 250px;
		margin-bottom: 32px;
	}

	header p {
		width: 280px;
	}

	main {
	 	-ms-grid-columns: auto minmax(320px, 600px) auto;
	 	grid-template-columns: auto minmax(320px, 600px) auto;
	}

	.expectations {
		padding: 52px 40px 67px;
	}

	.portfolio {
		padding-top: 52px;
		-ms-grid-columns: auto minmax(320px, 600px) auto;
		grid-template-columns: auto minmax(320px, 600px) auto;
	}

	.portfolio p {
		margin-top: 8px;
	}

	.portfolio__works section{
		margin-top: 60px;
	}

	.gallery__info {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		    -ms-flex-flow: column-reverse;
		        flex-flow: column-reverse;
    	-webkit-box-align: center;
    	    -ms-flex-align: center;
    	        align-items: center;
	}

	.gallery__pictures {
		max-width: 520px;
	}

	.gallery__pictures img {
		max-width: 520px;
		margin-top: 16px;
	}

	.gallery__description {
		margin-top: 16px;
	}

	.gallery__controls {
		margin-top: 16px;
	}

	form {
		max-width: 520px;
	}

	input[name=name], 
	input[name=email],
	textarea,
	label[for=sendFile],
	input[type=submit] {
		max-width: 520px;
		width: 100%;
	}

	input[name=email] {
		margin-top: 16px;
	}

}

@media (max-width: 320px) {

	body {
		min-width: 320px;
	}

	.wrapper {
		padding: 0 20px;
	}

	header {
		padding: 88px 0;
	}

	header .logo {
		width: 205px;
		height: 205px;
	}

	header a {
		max-width: 280px;
	}

	main {
	 	-ms-grid-columns: auto 320px auto;
	 	grid-template-columns: auto 320px auto;
	}

	.expectations {
		padding: 52px 20px 67px;
	}

	.portfolio {
		padding-top: 52px;
		-ms-grid-columns: auto 320px auto;
		grid-template-columns: auto 320px auto;
	}

	.portfolio p {
		margin-top: 8px;
	}

	.portfolio__works {
		margin-top: 60px;
	}

	.gallery__info {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		    -ms-flex-flow: column-reverse;
		        flex-flow: column-reverse;
    	-webkit-box-align: center;
    	    -ms-flex-align: center;
    	        align-items: center;
	}

	.gallery__pictures {
		max-width: 280px;
	}

	.gallery__pictures img {
		max-width: 280px;
	}

	form {
		max-width: 280px;
	}

	input[name=name], 
	input[name=email],
	textarea,
	label[for=sendFile],
	input[type=submit] {
		max-width: 280px;
		width: 100%;
	}

	input[name=email] {
		margin-top: 16px;
	}
}
